$color-fg: #C8C8C8;
$color-bg: #0A0A0A;
$color-accent: #3CE27C;
$font-normal: sans-serif;
$font-code: monospace;

::selection {
    background: transparentize($color: $color-accent, $amount: .5)
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: $color-bg;
    color: $color-fg;
    font-family: $font-normal;
}

main {
    height: 100%;
}

$input-txt: 'input[type="text"], input[type="email"], input[type="password"], \
             textarea, select, input[type="date"], input[type="time"]';

$input-btn: 'input[type="button"], input[type="submit"], input[type="reset"], button';

#{$input-txt} {
    color: $color-fg;
    background: lighten($color-bg, 2%);
    border: none;
    outline: 1px solid lighten($color-bg, 8%);
    transition: outline-color .2s ease;
    &:focus {
        outline-color: $color-accent;
    }
}

#{$input-btn}{
    background: $color-bg;
    border: none;
    background: $color-accent;
    padding: 2px 8px;
    transition: filter .3s, transform .1s;
    &:hover {
        filter: saturate(2);
        transform: scale(1.1);
        cursor: pointer;
    }
    width: fit-content;
}
input[type="reset"] {
    background: yellow;
}

label.multi-container {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: .5rem;
    position: relative;
    cursor: pointer;
    &:hover span {
        box-shadow: 0 0 5px 1px $color-accent;
    }
    input {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        transition: outline-color .15s ease;
        & ~ span {
            outline: 1px solid transparent;
        }
        &:focus ~ span {
            outline-color: $color-accent;
        }
        &:checked ~ span {
            background: $color-accent;
            box-shadow: 0 0 5px 1px $color-accent;
            border-color: $color-accent;
        }
    }
    span.checkbox, span.radio {
        order: -1;
        // position: absolute;
        // top: 0;
        // left: 0;
        height: 12px;
        width: 12px;
        background-color: lighten($color-bg, 2%);
        border: 1px solid lighten($color-bg, 8%);
        transition: all .15s ease;
    }
    span.radio {
        border-radius: 50%;
    }
}

footer mark#version {
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: $font-code;
}

input, select {
    margin: 2px;
}

a {
    color: $color-accent;
}

p {
    margin: 0;
}

form {
    display: inline-block;
    padding: 10px;
}

div.document-box {
    width: fit-content;
    border: 1px solid $color-accent;
}

main#main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    counter-reset: question-ordinal;
}

form#questions-box{
    display: flex;
    flex-direction: column;
    user-select: none;
    gap: 1rem;
    & > div {
        h4.title {
            color: $color-accent;
            margin: 0 .2rem .5rem 0;
            &::before {
                counter-increment: question-ordinal;
                content: counter(question-ordinal);
                background-color: $color-bg;
                width: 1.2rem;
                height: 1.2rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $color-accent;
                margin-right: .4rem;
            }
        }
        div.inputs {
            margin-left: 1.8rem;
        }
    }
    input[type="submit"] {
        width: min-content;
    }
}
