body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0A0A0A;
  color: #C8C8C8;
  font-family: sans-serif;
}

main {
  height: 100%;
}

footer mark#version {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: monospace;
}

input {
  margin: 2px;
}

a {
  color: #3CE27C;
}
