DirectoryIndex index.php index.html

# This is my workaround for getting a custom php.ini file (my hosting provider 
# doesn't allow it):
<IfModule mod_php.c>
    # This is the real path of the hosting service docroot, probably symlinked 
    # to /public_html:
    php_value auto_prepend_file \
        /storage/ssd4/734/21605734/public_html/api/.common.php

    <IfDefine DEVELOPMENT>
        # This is passed to PHP:
        SetEnv DEVELOPMENT "true"
        php_value auto_prepend_file /srv/http/api/.common.php
    </IfDefine>
</IfModule>

# Set default charset:
<IfModule mod_mime.c>
    AddDefaultCharset utf-8
</IfModule>

# Deny dirs without an index page:
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# Deny all hidden files:
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# TODO: add rules for URL rewriting (pretty URL's)
