DirectoryIndex index.php index.html

# Using mod_php because the hosting service doesn't allow custom php.ini files:
<IfModule mod_php.c>
    # If running locally, display all PHP errors:
    <If "-f %{DOCUMENT_ROOT} . '/.server/local.lock'">
        php_flag display_errors on
        php_value error_reporting -1
    </If>

    php_value auto_prepend_file .server/common.php
</IfModule>

# Set default charset:
<IfModule mod_mime.c>
    AddDefaultCharset utf-8
</IfModule>

# Deny dirs without an index page:
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# TODO: add rules for URL rewriting (pretty URL's)
